<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601406526024-6659j3cdfkm77m40rtf9s3c0ndoc6dv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601406526024-6659j3cdfkm77m40rtf9s3c0ndoc6dv0</string>
	<key>API_KEY</key>
	<string>AIzaSyDXOiO4BoKYPk6dJrAHz0weuSfXkanQ2mg</string>
	<key>GCM_SENDER_ID</key>
	<string>601406526024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.globallogic.3m.repairstack.dev</string>
	<key>PROJECT_ID</key>
	<string>repairstack-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>repairstack-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601406526024:ios:ae5a3553fd6f46b77dfe7d</string>
</dict>
</plist>